		* {
			color:#F4A950;
		}		
		body{
			font: 15px/1.5 Arial,Helvetica,sans-serif;
			padding:0;
			margin:0;
			background-color:#161B21;
			
		}
		/* Global */
		.container{
		width:100%;
		margin:auto;
		overflow:hidden;
		}
		
			
		ul{
			margin:0;
			padding:0;
		}
		
		h2 {
			font-size:20pt;
		}
		
		/*.gallery{
			margin:10px 50px;
		}
		
		.gallery img{
			width: 230px;
			padding: 5px;
			filter: grayscale(70%);
			transition: 1s;
		}
		
		.gallery img:hover{
			filter: grayscale(0);
			transform: scale(1.1);
			
			
			*/
		
		.container{
		text-align: center;
		margin-top: 36px;
			}
		
		 .btn{
		border: 1px solid #3498db;
		background: none;
		padding: 10px 20px;
		font-size: 20px;
		font-family: "montserrat";
		cursor: pointer;
		margin: 10px;
		transition: 0.8s;
		position: relative;
		overflow: hidden;
		
			}
		.btn1,{
		color: #3498db;
		}
		
		}
		.btn1:hover,{
		color: #ffffff;
		}
		
		}
		.btn::before{
		  content: "";
		  position: absolute;
		  left: 0;
		  width: 100%;
		  height: 0%;
		  background: #3498db;
		  z-index: -1;
		  transition: 0.8s;
		}
		.btn1::before{
		  top: 0;
		  border-radius: 0 0 50% 50%;
		}
		
		.btn1:hover::before,{
		  height: 180%;
		}
		
		.button_1{
			height:38px;
			background:#e8491d;
			border:0;
			padding-left: 20px;
			padding-right:20px;
			color:#ffffff
			
		}

		/*Header **/
		header{
			background:#292826;
			color:#ffffff;
			padding-top:30px;
			min-height:70px;
			border-bottom:#F4A950 3px solid;

		}
		header h1{
			padding-left:14.8%;
		}
		header .container img {
			max-width:100%;
			padding-left:15%;
		}

		header a{
			color:#F4A950;
			text-decoration:none;
			text-transform: uppercase;
			font-size:16px;
		}

		header ul{
			margin:0;
			padding:0;
		}

		header li{
			float:left;
			display:inline;
			padding: 0 20px 0 20px;
		}

		header #branding{
			float:left;
		}

		header #branding h1{
			margin:0;
		}

		header nav{
			float:right;
			margin-top:10px;
		}
		
		header .highlight, header, .current a{
			color:#e8491d
			font:bold;
			padding-left:0%;
		}
		
		header a:hover{
		color:#cccccc
		font-weight:bold;
		}
		
		#cottage{
			float: left;
			padding: 8px;
		}
		
		
		/* showcase */
		#showcase{
			min-height:400px;
			background-image:url('images/showcase.jpg') no-repeat;
			text-align:center;
			color:#ffffff;
		}
		
		#showcase h1{
			margin-top:100px;
			font-size:55px;
			margin-bottom:10px;		
		}
		#showcase .container{
			padding-top:4.5%;
		}
		
		#showcase p{
		font-size:20px
		}
		/*boxes*/
		#boxes {
		margin-top: 20px;
		}

		#boxes .box{
		float: left;
		width: 25%;
		}
		#videobox .box {
			float: left;
			width: 50%;
			padding-left:3%;
		}

		/* newsletter */
		
		#newsletter{
			padding:15px;
			color:#ffffffp;
			background:#35424a;
		}
		
		#newsletter h1{
			float:left;
		}
		
		#newsletter form {
			float:right;
			margin-top:15px;
		}
		
		#newsletter input[type="email"]{
			padding:4px;
			height:25px;
			width:250px;
		}
		.example-image {
			width:50%;
			height:auto;
			padding-left:15px;
			
		}
		
		* {box-sizing:border-box}

		/* Slideshow container */
		.slideshow-container {
		  max-width: 1000px;
		  position: relative;
		  margin: auto;
		}

		/* Hide the images by default */
		.mySlides {
		  display: none;
		}

		/* Next & previous buttons */
		.prev, .next {
		  cursor: pointer;
		  position: absolute;
		  top: 50%;
		  width: auto;
		  margin-top: -22px;
		  padding: 16px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}

		/* Caption text */
		.text {
		  color: #f2f2f2;
		  font-size: 15px;
		  padding: 8px 12px;
		  position: absolute;
		  bottom: 8px;
		  width: 100%;
		  text-align: center;
		}

		/* Number text (1/3 etc) */
		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}

		/* The dots/bullets/indicators */
		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
		  background-color: #717171;
		}

		/* Fading animation */
		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
		
	
		
		
		
		
